{% extends "base.html" %}
{% import "_article_head.html" as article_head %}
{% block articlecontent %}
{% for article in info.articles %}
    {{ article_head.article_head(article) }}
    <div class="article-content mt-4">
        {{article.lead|markdown2html}}        
    </div>
    <a href="/{{article.slug}}" class="btn btn-danger float-right">继续阅读</a>
    <div class="clearfix"></div>
    </article>
{% endfor %}
<div class="d-flex mt-2">
{% if info.prev %}
<a class="mr-auto" href="/prev?last={{info.prev}}"><button type="button" class="btn btn-outline-secondary">上一页</button></a>
{% endif %}
{% if info.next %}
<a class="ml-auto" href="/next?last={{info.next}}"><button type="button" class="btn btn-outline-secondary">下一页</button></a>
{% endif %}
</div>
{% endblock articlecontent %}

{% block extra_sidebox %}
<div class="sidebox">
    <h4>管理</h4> 
    <ul>
        <li><a href="/article/add">新建</a></li>
        <li><a href="/admin/logout">注销</a></li>
        <li><a href="/drafts">草稿</a></li>
    </ul>
</div>
{% endblock extra_sidebox %}

