{% extends "base.html" %}
{% import "_article_head.html" as article_head %}

{% block articlecontent %}
    {{ article_head.article_head(info.article) }}
    <div class="article-content mt-4">
    {{info.article.html_content.content}}
    </div>
    </article>

<div class="d-flex mt-2 prev-next w-100">
{% if info.prev %}
<a class="mr-auto" href="/{{info.prev.slug}}">{{info.prev.title}}</a>
{% endif %}
{% if info.next %}
<a class="ml-auto" href="/{{info.next.slug}}">{{info.next.title}}</a>
{% endif %}
</div>
{% endblock articlecontent %}
{% block toc %}
{% if info.article.html_content.toc %}
    <div class="sidebox">
        <h4>文章目录</h4>
        <div class="toc">
        {{info.article.html_content.toc}}
        </div>
    </div>
{% endif %}
{% endblock toc %}
{% block extra_sidebox %}
{% if current_user %}
<div class="sidebox">
    <h4>管理</h4>
    <ul>
        <li><a href="/article/add?slug={{info.article.slug}}">编辑</a></li>
        <li><a href="/article/add">新建</a></li>
        <li><a href="/article/del?slug={{info.article.slug}}">删除</a></li>
        <li><a href="/admin/logout">注销</a></li>
        <li><a href="/drafts">草稿</a></li>
    </ul>
</div>
{% endif %}
{% endblock extra_sidebox %}

